<div class="row panel-group">
<div ng-repeat="item in list.items">
    <div class="col-sm-4">
      <div class="panel panel-default  grid-panel">
        <div class="panel-heading">
          <!-- <div class="row"> -->
            <div>
              {{item.name}}
              <button type="button"
                                    class="btn btn-danger btn-xs remove-button"
                                    ng-click="list.onRemove({index : $index});">
                                    <span class="glyphicon glyphicon-remove"></span>
                                  </button></td class=""></div>
                                <!-- </div></div> -->
        </div>
        <div class="panel-body">{{item.description}}
        </div>
      </div>
  </div>
</div>
</div>
<div class="row"><div class="col-sm-12"><div ng-show="list.showLoader" class="loader"></div></div></div>
